{% set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'clearfix',
] %}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <header class="node__custompage">

    <div {{ attributes.addClass('banner') }}>
      {{ content.field_banner }}
    </div>


    <h1{{ title_attributes.addClass('title-custom', 'node__title') }}>
      {{ label }}
    </h1>


  </header>

  <div class="content-wrap">
    <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
      {{ content.body }}
    </div>
  </div>

</article>
